<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<th:block th:fragment="setContent(content)">
    <body>

<style>
  *{
    margin: 0;
    padding: 0;
  }
  .header{
    width: 100vw;
    height: 20vh;
    background-color: aqua;
  }
  .content{
    width: 100vw;
    height: 70vh;
    background-color: lightgray;
  }
  .footer{
    width: 100vw;
    height: 10vh;
    background-color: green;
  }
</style>

<div class="header">
  <h1>HEADER</h1>
</div>

<div class="content">
<!--  <h1>CONTENT</h1>-->

  <th:block th:replace = "${content}"></th:block>

</div>

<div class="footer">
  <h1>FOOTER</h1>
</div>



</body>

</th:block>

</html>