<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시글 수정하기</title>
</head>

<body>
<h2>게시글 수정하기</h2>

<form th:action="@{/post/edit/{id}(id=${post.id})}" method="post">
    <label for="title">제목:</label><br>
    <input type="text" th:field="${post.title}" /><br><br>

    <label for="content">내용:</label><br>
    <textarea rows="10" cols="50" th:field="${post.content}"></textarea><br><br>

    <button type="submit">저장</button>
</form>

<a href="/post">목록으로 돌아가기</a>
</body>

</html>
