<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body>
<h1>Posts</h1>
<ul>
    <li th:each="post : ${posts}">
        <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a>
        <p th:text="${post.content}"></p>
        <div th:if="${post.author != null && post.author.username == session.user.username}">
            <a th:href="@{/posts/{id}/edit(id=${post.id})}">수정</a>
        </div>
        <p>작성자: <span th:text="${post.author != null ? post.author.username : 'Unknown'}"></span></p>
        <small th:text="${post.createdAt}"></small>
    </li>
</ul>
<a th:href="@{/posts/new}">New post</a>
</body>
</html>