<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>빽다방</title>
  <style>
    body{
      text-align: center;
      background-color: gold;
    }
    ul, ol, li{
      list-style: none;
    }
    #list{
      background-color: #c1d6cc;
      width: 30vw;
      align-content: center;
      margin: 0 auto;
    }
  </style>
</head>
<body>
<h1>빽다방 전체 리뷰입니다!</h1>
<i>리뷰 제목에 `빽다방`, `paik` 키워드를 사용하면 여기에 표시됩니다!</i>
<hr>
<a th:href="@{/posts/new}">리뷰 등록하기</a>
<hr>
<ul id="list">
  <li th:each="post : ${posts}" th:if="${post.title.toLowerCase().contains('빽다방') || post.title.toLowerCase().contains('paik')}">
    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a>
    <p th:text="${post.content}"></p>
    <p>작성자: <span th:text="${post.author != null ? post.author.username : 'Unknown'}"></span></p>
    <small th:text="${post.createdAt}"></small>
  </li>
</ul>

</body>
</html>