@charset "utf-8";
		/* 스타일 시트 작성 */
		body {
			margin: 0;
			padding: 0;
			font-family: sans-serif;
		  }

		  /* 로그인/회원가입 UI 스타일 */
		  .login-container {
			position: absolute;
			top: 10px;
			right: 10px;
		  }
		  .login-buttons a {
			display: inline-block;
			margin-left: 10px;
			padding: 8px 16px;
			background-color: #333;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
		  }
		  .login-buttons a:hover {
			background-color: #444;
		  }
		  .login-buttons a:last-child {
			margin-left: 20px;
		  }

		  /* 채팅 UI 스타일 */
		  #chat-container {
			margin-top: 20px;
		  }
		  #chat-header {
			text-align:center;
			background-color: #333;
			color: #fff;
			padding: 10px;
			border-radius: 5px 5px 0 0;
		  }
		  #chat-messages {
			height: 300px;
			overflow-y: scroll;
			padding: 10px;
			border: 1px solid #333;
			border-top: none;
			border-radius: 0 0 5px 5px;
		  }
		  #chat-form {
			display: flex;
			margin-top: 10px;
		  }
		  #chat-form input[type="text"] {
			flex-grow: 1;
			margin-right: 10px;
			padding: 8px;
			border: none;
			border-radius: 5px;
		  }
		  #chat-form button[type="submit"] {
			padding: 8px 16px;
			background-color: #333;
			color: #fff;
			text-decoration: none;
			border: none;
			border-radius: 5px;
		  }
		  #chat-form button[type="submit"]:hover {
			background-color: #444;
		  }

		header {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}

		nav {
			background-color: #ccc;
			padding: 10px;
			text-align: center;
		}

		nav a {
			color: #333;
			text-decoration: none;
			padding: 10px;
		}

		nav a:hover {
			color: #fff;
			background-color: #333;
		}

		section {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding: 50px;
			background-color: #f2f2f2;
		}

		section div {
			flex-basis: 30%;
			background-color: #fff;
			margin-bottom: 50px;
			padding: 20px;
			box-shadow: 0px 0px 10px #ccc;
			text-align: center;
		}

		footer {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}