<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>약관동의</title>
    <link th:href="@{/css/Agree.css}" rel="stylesheet" />
    <script src="@{js/jquery-3.6.3.min.js}"></script>
    <script src="@{js/agree.js}"></script>
</head>
<body>
<div id="wrap">
   <div id="top_wrap">
        <div id="top">
            <div id="logo_wrap">
                <p class="logo"><a href="#">로고</a></p>
            </div>
       </div>
    </div>
    <div id="min">
        <form action="join.html" method="post" id="join"></form>
        <p class="checkbox1">
            <input type="checkbox" name="agree" id="agree1" value="html" class="chk" >
            <label for="agree1">이용약관(필수)</label><br>
            <label for="Terms_of_service"></label><br>
            <textarea id="Terms_of_service" cols="50" rows="10" readonly style="resize:none" >내용
            </textarea>
        </p>
        <p>
            <input type="checkbox" name="agree2" id="agree2" value="html" class="chk">
            <label for="agree2">개인정보 수집 및 이용(필수)</label><br>
            <label for="Terms_of_service2"></label><br>
            <textarea id="Terms_of_service2" cols="50" rows="10" readonly style="resize:none">내용
            </textarea>    
        </p>
        <p>
            <input type="checkbox" name="agree3" id="agree3" value="html">
            <label for="agree3">개인정보 수집 및 이용(선택)</label><br>
            <label for="Terms_of_service3"></label><br>
            <textarea id="Terms_of_service3" cols="50" rows="10" readonly style="resize:none">내용
            </textarea>
        </p>
        <p>
           <input title="submit" class="yes" id="nextbtn" value="동의" readonly >
        </p>
    </div>
</div>
</body>
</html>