<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link th:href="@{/css/index.css}" rel="stylesheet" />
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;," >
</head>
<body>
<header>
  <h1>메인 페이지</h1>
</header>
<nav>
  <a href="#">스타벅스</a>
  <a href="#">메가커피</a>
  <a href="#">빽다방</a>
  <a href="#">이디아</a>
  <a href="#">기타</a>
  <a href="/guestbook/list">게시판</a>
</nav>
<!-- 채팅 UI -->
<div id="chat-container">
  <div id="chat-header">
    <h2>채팅</h2>
  </div>
  <div id="chat-messages">
    <!-- 메시지 출력 -->
  </div>
  <form id="chat-form">
    <input type="text" placeholder="메시지를 입력하세요">
    <button type="submit">전송</button>
  </form>
</div>
<!-- 로그인/회원가입 UI -->
<div class="login-container" th:if="${session.user == null}">
  <div class="login-buttons">
    <a id="login-btn" href="/login">로그인</a>
    <a id="signup-btn" href="/signup">회원가입</a>
  </div>
</div>
<div class="login-container" th:if="${session.user != null}">
  <div class="login-buttons">
    <a id="logout-btn" href="/logout">로그아웃</a>
    <a id="mypage-btn" href="/mypage">내 정보</a>
  </div>
</div>
<section>
  <div>
    <h2>스타벅스</h2>
    <p>스타벅스 너무 맛있는데 어우 너무 비싸 어우</p>
    <a href="#">스타벅스</a><br>
    <a href="/map/starbucks">매장검색</a>
    <ul id="starbucks"></ul>
  </div>
  <div>
    <h2>메가커피</h2>
    <p>메가커피당 가격도 ㄱㅊ</p>
    <a href="#">메가커피</a><br>
    <a href="/map/mega">매장검색</a>
    <ul id="mega"></ul>
  </div>
  <div>
    <h2>빽다방</h2>
    <p>어둠의 마법사가 애용함</p>
    <a href="#">빽다방</a><br>
    <a href="/map/paik">매장검색</a>
    <ul id="paik"></ul>
  </div>
  <div>
    <h2>이디야</h2>
    <p>이디야 너 어디야</p>
    <a href="#">이디야</a><br>
    <a href="/map/ediya">매장검색</a>
    <ul id="ediya"></ul>
  </div>
</section>
<!-- WebSocket 관련 코드 -->
<script>
  // WebSocket 연결 생성
  var webSocket = new WebSocket("ws://" + window.location.host + "/chat");
  // 채팅 메시지 출력 함수
  function printMessage(message) {
    var messageElement = document.createElement("div");
    messageElement.innerText = message;
    document.getElementById("chat-messages").appendChild(messageElement);
  }

  // WebSocket 연결 성공 시 실행될 함수
  webSocket.onopen = function(event) {
    console.log("WebSocket 연결 성공");
  };

  // WebSocket 연결 종료 시 실행될 함수
  webSocket.onclose = function(event) {
    console.log("WebSocket 연결 종료");
  };

  // 채팅 메시지 전송
  function sendMessage() {
    var inputElement = document.querySelector("#chat-form input");
    var message = inputElement.value;
    webSocket.send(message);
    inputElement.value = "";
  }

  var formElement = document.getElementById("chat-form");
  formElement.addEventListener("submit", function(event) {
    event.preventDefault();
    sendMessage();
  });

  // 채팅 메시지 출력
  webSocket.onmessage = function(event) {
    var message = event.data;
    printMessage(message);
  };
</script>

</body>
</html>