<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="header"></div>
<h1>Welcome to Main Page</h1>
<p>Here is some content for the main page.</p>
<p th:text="${session.user.name}">User Name</p>
<div class="button-container">
  <form method="post" action="/logout">
    <button type="submit">로그아웃</button>
  </form>
</div>


<!--<div class="navbar-nav ml-auto">-->
<!--  <a th:href="@{/logout}">Logout</a>-->
<!--</div>-->

</body>
</html>