<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OTP 인증</title>
  <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
<div class="login-box">
  <div th:if="${otpEnabled}" class="box2">
    <h2>OTP 코드 생성</h2>
    <p>아래의 QR 코드를 스캔하여 OTP 앱에 등록하세요.</p>
    <img th:src="${qrCodeUrl}" />
  </div>
  <div th:unless="${otpEnabled}" class="box2">
    <p>OTP 인증이 이미 활성화되어 있습니다.</p>
  </div>
  <h2>OTP 인증</h2>
  <form method="post" action="/otp-auth">
    <div class="user-box">
      <input type="text" name="otpCode" required="">
      <label>OTP번호</label>
    </div>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      인증
    </button>
  </form>
</div>
</body>
</html>